.festivalNombre {
    display: flex;
    width: 150px;
}

td {
    background-color: transparent;
    padding: 5px;
}

td span,
td {
    font-size: 12px;
    background-color: transparent;
}

tr:first-child>td {
    font-size: 12px;
    padding: 15px !important;
    text-align: center;
    background-color: var(--color-terciary);
    font-weight: bold;
    color: white;
}

.festivalNombre div {
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    background-color: transparent;
}

.festivalNombre span {
    width: 70%;
}

table {
    width: 80% !important;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
    border-spacing: 3px;
    border-collapse: separate;
}

.tasa {}

.tasa i {
    font-size: 20px;
}

.tasa_n i {
    color: grey;
}

.tasa_s i {
    color: green;
}

.tasa_t i {
    color: orange;
}

.tipo_festival {
    width: 20px;
    height: 20px;
    color: white;
}

a {
    background-color: green;
}

b {
    background-color: black;
}

c {
    background-color: orange;
}