<table class="table table-primary table-bordered">
    <tr>
        <td>Nombre</td>
        <!-- <td>Descripcion</td> -->
        <td>Tipo_Metraje</td>
        <td>Tasa</td>

        <td>Tipo_Festival</td>
        <!-- <td>Fechainicio</td> -->
        <td>Fechalimite</td>
        <td>Fuente</td>
    </tr>
    <tr *ngFor="let evento of eventoP" (click)="abreUrl(evento.url)">
        <td>
            <div class="festivalNombre">
                <div class="img" style="background-image: url('{{evento.imagen}}');"></div>
                <span>{{evento.nombre}}</span>
            </div>
        </td>
        <td>
            <div *ngFor="let metraje of evento.tipoMetraje" class="badge badge-secondary">{{metraje}}</div>
        </td>
        <td>
            <span title="{{evento.tasa.text}}" *ngIf="!evento.tasa.bool">Sin Tasa</span>
            <span title="{{evento.tasa.text}}" *ngIf="evento.tasa.bool">Con Tasa</span>
        </td>
        <td>{{evento.tipoFestival}}</td>
        <td>{{evento.fechaLimite}}</td>
        <td>
            <div class="badge badge-secondary">{{evento.fuente}}</div>
        </td>
    </tr>
</table>