.festivalNombre {
    display: flex;
    width: 250px !important;
}

td {
    background-color: transparent;
    padding: 5px;
}

td span,
td {
    font-size: 12px;
}

td:nth-child(1)>div {
    background-color: transparent !important;
}

tr:nth-child(2n+1) {
    background-color: #eaeaea;
}

tr:nth-child(2n) {
    background-color: lightgray;
}

tr:not(tr:nth-child(1)) {
    cursor: pointer;
}

tr:not(tr:nth-child(1)):hover {
    background-color: rgb(170, 170, 170);
}

tr:not(tr:nth-child(1)):hover span,
tr:not(tr:nth-child(1)):hover div>div {
    color: white !important;
}

tr:first-child>td,
tr:nth-child(2)>td {
    font-size: 12px;
    padding: 15px !important;
    text-align: center;
    background-color: var(--color-terciary);
    font-weight: bold;
    color: white;
}

.badge {
    color: white !important;
    border-radius: 1px !important;
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    -ms-border-radius: 1px !important;
    -o-border-radius: 1px !important;
}

.festivalNombre {
    width: 100%;
}

.festivalNombre div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 3px 3px 3px -3px black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.festivalUbicacion {}

.festivalNombre span,
.festivalUbicacion>div>div {
    width: 150px;
    text-overflow: ellipsis;
    margin: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -moz-box;
    -moz-box-orient: vertical;
    text-transform: capitalize;
}

.festivalUbicacion>div>span {
    background-repeat: no-repeat;
    width: 27px;
    height: 20px;
    background-size: contain;
    background-position: center;
}

.festivalUbicacion>div {
    background-color: transparent;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.festivalUbicacion>div>div {
    overflow: hidden !important;
    padding: 0 10px;
}

.fechalimite_badge {
    position: relative;
    padding: 10px !important;
    height: 28px;
    top: -1px;
    border-radius: 2px !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

table {
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
    border-spacing: 3px;
    border-collapse: separate;
    margin-top: 24px;
}

.tasa {
    background-color: transparent !important;
    position: relative;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 28px;
    width: 28px;
    top: -4px;
}

.tasa i {
    font-size: 22px;
}

.tasa_n i {
    color: grey;
}

.tasa_s i {
    color: green;
}

.tasa_t i {
    color: orange;
}

.tipo_festival {
    width: 25px;
    height: 25px;
    color: white !important;
    margin: 0 auto;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
}

.a {
    background-color: rgb(77, 116, 153) !important;
}

.b {
    background-color: black !important;
}

.c {
    background-color: orange !important;
}

.numerations {
    position: relative;
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.numerations div {
    width: 30px;
    height: 30px;
    background-color: var(--color-terciary);
    padding: 5px;
    color: white;
    margin: 0px 2px;
    cursor: pointer;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.numerations div:hover {
    opacity: 1;
}

h2:first-of-type {
    color: #7a7a7a;
    text-align: center;
    font-family: var(--font2);
    font-size: 40px;
}

h2:first-of-type::first-letter {
    color: black;
    /* Cambia el color segÃºn lo que desees */
}

.numerations .active {
    background-color: var(--color-primary);
}

#noData {
    width: 700px;
    margin: 0 auto;
    background-color: #ececec;
    border: solid lightgrey 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin-top: -15px;
    margin-bottom: 13px;
}

#noData>h5 {
    font-size: 17px;
    margin-top: 9px;
    color: grey;
}

#noData>i {
    font-size: 57px;
    color: grey;
}