<table class="table table-bordered">
    <!-- INFO ENCABEZADO DE TABLA -->
    <tr>
        <td colspan="5" *ngIf="pageFilter==='verEventos'">Lista De Eventos</td>
        <td colspan="6" *ngIf="pageFilter==='exEventos'">Lista De Eventos</td>
    </tr>

    <tr>
        <td>Nombre</td>
        <td title="Ubicacion">Ubicacion</td>
        <td>Tasa</td>
        <!-- <td>Tipo</td> -->
        <td title="Fecha Limite">Limite</td>
        <td>Fuente</td>
        <td *ngIf="pageFilter==='exEventos'"></td>
    </tr>



    <!-- INFO CUERPO DE TABLA -->
    <tr *ngFor="let evento of eventoP; let i = index" (click)="abreUrl(evento.url)">
        <td>
            <div class="festivalNombre">
                <div class="img" style="background-image: url('{{evento.imagen}}');"></div>
                <span>{{evento.nombre}}</span>
            </div>
        </td>
        <td>
            <div>{{evento.ubicacion}}</div>
        </td>
        <td>
            <span class="tasa tasa_n" title="{{evento.tasa.text}}" *ngIf="evento.tasa.bool===0"><i
                    class="bi bi-currency-exchange"></i></span>
            <span class="tasa tasa_s" title="{{evento.tasa.text}}" *ngIf="evento.tasa.bool===1"><i
                    class="bi bi-currency-exchange"></i></span>
            <span class="tasa tasa_t" title="{{evento.tasa.text}}" *ngIf="evento.tasa.bool===2"><i
                    class="bi bi-currency-exchange"></i></span>
        </td>
        <!-- <td class="text-center">
            <span class="tipo_festival a" *ngIf="evento.tipoFestival==='a'||evento.tipoFestival.indexOf('Feature')">
                {{evento.tipoFestival.toUpperCase()}}
            </span>
            <span class="tipo_festival b" *ngIf="evento.tipoFestival==='b'||evento.tipoFestival.indexOf('')">
                {{evento.tipoFestival.toUpperCase()}}
            </span>
            <span class="tipo_festival c" *ngIf="evento.tipoFestival==='c'||evento.tipoFestival.indexOf('')">
                {{evento.tipoFestival.toUpperCase()}}
            </span>
        </td> -->
        <td>
            <div class="badge" [class.bg-primary]="compararFechas(evento.fechaLimite.fecha)>=3&&compararFechas(evento.fechaLimite.fecha)<10" [class.bg-danger]="compararFechas(evento.fechaLimite.fecha)<3&&compararFechas(evento.fechaLimite.fecha)>0" [class.bg-warning]="compararFechas(evento.fechaLimite.fecha)<=0"
                [class.bg-success]="compararFechas(evento.fechaLimite.fecha)>=10">
                {{evento.fechaLimite.fecha}}</div>
        </td>
        <td>
            <div class="badge bg-secondary" *ngFor="let evt of evento.fuente">{{evt}}</div>
        </td>
        <td *ngIf="pageFilter==='exEventos'" (click)="$event.stopPropagation()"><input type="checkbox" (change)="agregarEventoEx($event,i)" [checked]="evento.check"></td>
    </tr>
</table>

<!-- INFO PAGINA DE "SIN DATOS" -->
<div id="noData" *ngIf="eventoP.length===0">
    <i class="bi bi-search"></i>
    <h5>Sin Datos Para Mostrar</h5>
</div>

<!-- INFO NUMERACIONES -->
<div class="numerations">
    <div (click)="page=1; accionesPage(pageFilter)" [class.active]="page === 1">1</div>

    <ng-container *ngFor="let _ of visiblePages; let i = index">
        <div *ngIf="i > 0" (click)="page=i+startPage; accionesPage(pageFilter)" [class.active]="i+startPage === page">
            {{i+startPage}}</div>
    </ng-container>
</div>