#filtros_s_cont {
    width: 80% !important;
    margin: 0 auto;
    padding: 0;
}

#filtros_s_cont>nav {
    width: 100%;
    padding: 0px 20px;
}

#filtros_s_cont>nav>button {
    padding: 6px 15px;
    font-size: 13px;
    border: none;
    color: white;
    font-family: var(--font1);
    font-weight: 700;
    margin-top: auto;
    margin-left: 0px;
    opacity: 0.8;
}

#filtros_s_cont>nav>button:hover {
    opacity: 1;
}

#filtros_s_cont>nav>button:nth-child(1) {
    background-color: #e20303;
}

#filtros_s_cont>nav>button:nth-child(2) {
    background-color: #3c61bc;
}

#filtros_s_cont>nav>button:nth-child(3) {
    background-color: #cccccc;
}

#filtros_s_cont>nav>button:nth-child(4) {
    background-color: gray;
}

.active {
    padding: 15px 30px !important;
    opacity: 1 !important;
}

#filtros_cont {
    width: 100%;
    padding: 0px 3px;
}

#filtros_cont>h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 20px;
    cursor: pointer;
    margin: 0;
}

#filtros_cont>h2 span {
    color: white;
    font-size: 15px;
}

#filtros_cont>h2 i {
    color: white;
    font-size: 15px;
    left: 4px;
    top: 1px;
    position: relative;
}

#filtros {
    background-color: rgb(237, 237, 237);
    transition: all linear 0.1s;
    height: auto;
    overflow: hidden;
}

#filtros>div {
    position: relative;
    min-height: 40px;
    margin-bottom: 17px;
}

#filtros div select {
    width: 100%;
    height: 40px;
}

#filtros div input {
    height: 40px;
    width: 100%;
}

#filtros form {
    padding: 20px;
}

.fuente_button {
    height: 24px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 9px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border-radius: 3px;
    overflow: hidden;
}

#filtros_cont>div:last-child {
    background-color: #4a4a4a;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 10px;
    opacity: 0.8;
    cursor: pointer;
    transition: linear all 0.2s;
}

#filtros_cont>div:last-child:hover {
    opacity: 1;
}

.filtro_open {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

[disabled]>div:nth-child(2) {
    background-color: #cccccc !important;
}

.fuente_button:nth-child(1)>div:nth-child(2) {
    background-color: blue;
}

.fuente_button:nth-child(2)>div:nth-child(2) {
    background-color: purple;
}

.fuente_button:nth-child(3)>div:nth-child(2) {
    background-color: green;
}

.fuente_button:nth-child(4)>div:nth-child(2) {
    background-color: greenyellow;
}

.fuente_button>div:nth-child(1) {
    width: 22px;
    height: 100%;
    background-color: #e20303;
    z-index: 1;
    position: absolute;
    left: 0;
}

.fuente_button>div:nth-child(2) {
    position: absolute !important;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    z-index: 0;
    right: 10px;
    border-radius: 3px;
}

.fuente_button>span {
    z-index: 1;
    margin-left: 28px;
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.fuente_check {
    filter: none !important;
    -webkit-filter: none !important;
}

#filtros div h5 {
    font-size: 14px;
    margin: 0;
}

#filtros div hr {
    margin: 6px;
}

#tasa_check {
    padding: 0px 20px;
}

#tasa_check label {
    position: relative;
    width: 110px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

#tasa_check label input {
    width: 15px;
    height: 15px;
    top: 2px;
    position: absolute;
    right: 0;
}

#tasa_check label i {}

#tasa_check label:nth-child(1) i {
    color: grey;
}

#tasa_check label:nth-child(2) i {
    color: green;
}

#tasa_check label:nth-child(3) i {
    color: orange;
}