<div id="filtros_s_cont" class="d-flex flex-column container-fluid">
    <span [style.backgroundColor]="bgColor"></span>
    <span></span>
    <h2><span [style.color]="bgColor">M</span>enu <span [style.color]="bgColor">L</span>ateral<span
            [style.color]="bgColor">.</span></h2>
    <span [style.backgroundColor]="bgColor"></span>

    <!-- INFO CONTAINER DE FILTROS-->
    <div id="filtros_cont" class="d-flex flex-column">

        <div id="filtros">

            <form class="row" *ngIf="pageFilter==='none'"></form>
            <!-- INFO FILTROS DE VER Y EXTRAER EVENTOS -->
            <form [formGroup]="eventosForm" class="row" *ngIf="pageFilter==='verEventos'||pageFilter==='exEventos'">
                <div class="col-12">
                    <h5>Ordenar De Forma:</h5>
                    <div class="hr_cont">
                        <hr><span [style.backgroundColor]="bgColor"></span>
                    </div>
                    <select type="text" placeholder="Ordenar En:" [value]="" formControlName="order">
                        <option value="">Ordenar En:</option>
                        <option value="asc">Ascendente</option>
                        <option value="desc">Decendente</option>
                    </select>
                </div>
                <div class="col-12">
                    <h5>Ordenar Por:</h5>
                    <div class="hr_cont">
                        <hr><span [style.backgroundColor]="bgColor"></span>
                    </div>
                    <select type="text" placeholder="Ordenar Por:" formControlName="orderBy">
                        <option value="">Ordenar Por</option>
                        <option value="nombre">Nombre</option>
                        <option value="tasa">Tasa</option>
                        <option value="categoria">Categoria</option>
                        <option value="ubicacion">Ubicacion</option>
                        <option value="tipoMetraje">Tipometraje</option>
                        <option value="tipoFestival">Tipofestival</option>
                        <option value="fechaLimite">Fechalimite</option>
                        <option value="fuente">Fuente</option>
                    </select>

                </div>
                <div id="per_page" class="col-12">
                    <h5>Eventos a mostrar:</h5>
                    <div class="hr_cont">
                        <hr><span [style.backgroundColor]="bgColor"></span>
                    </div>
                    <div>
                        <label (click)="eventosForm.get('perPage')?.setValue(valor)"
                            *ngFor="let valor of valoresRadios; let i = index"
                            [style.backgroundColor]="(eventosForm.get('perPage')!.value === valor)?bgColor:''">

                            {{ valor }}
                        </label>
                    </div>

                </div>
                <div id="fechas" class="col-12">
                    <h5>Fecha Desde/Hasta:</h5>
                    <div class="hr_cont">
                        <hr><span [style.backgroundColor]="bgColor"></span>
                    </div>
                    <div>
                        <input type="date" placeholder="Fecha De:" formControlName="dateStart">
                        <input type="date" placeholder="Fecha Hasta:" formControlName="dateEnd">
                    </div>
                </div>

                <div class="col-12  d-flex flex-column">
                    <h5>Otros Filtros:</h5>
                    <div class="hr_cont">
                        <hr><span [style.backgroundColor]="bgColor"></span>
                    </div>
                    <div id="tasa_check" class="d-flex flex-column">
                        <label>Con
                            Tasa(<i class="bi bi-currency-exchange"></i>)<input type="checkbox"
                                (change)="feeCheck[0]=!feeCheck[0];" [checked]="feeCheck[0]"></label>
                        <label>Sin
                            Tasa(<i class="bi bi-currency-exchange"></i>)<input type="checkbox"
                                (change)="feeCheck[1]=!feeCheck[1];" [checked]="feeCheck[1]"></label>
                        <label>Tasa
                            Mixta(<i class="bi bi-currency-exchange"></i>)<input type="checkbox"
                                (change)="feeCheck[2]=!feeCheck[2];" [checked]="feeCheck[2]"></label>
                        <label>Mostrar Eventos Caducados: <input type="checkbox" formControlName="finish"></label>
                    </div>
                </div>
                <div id="fuentes" class="col-12 d-flex flex-column">
                    <h5>Fuente:</h5>
                    <div class="hr_cont">
                        <hr><span [style.backgroundColor]="bgColor"></span>
                    </div>
                    <div class="row row-cols-3 gap-2">
                        <div (click)="fuenteCheck['festhome']=!fuenteCheck['festhome'];"
                            [class.bg-evento_check]="fuenteCheck['festhome']"
                            class="col fuente_button bg-evento bg-festhome">
                            <div></div>

                        </div>
                        <div (click)="fuenteCheck['movibeta']=!fuenteCheck['movibeta'];"
                            [class.bg-evento_check]="fuenteCheck['movibeta']"
                            class="col fuente_button bg-evento bg-movibeta">
                            <div></div>

                        </div>
                        <div (click)="fuenteCheck['animationfestivals']=!fuenteCheck['animationfestivals'];"
                            [class.bg-evento_check]="fuenteCheck['animationfestivals']"
                            class="col fuente_button bg-evento bg-animationfestivals">
                            <div></div>

                        </div>
                        <div (click)="fuenteCheck['filmfreeaway']=!fuenteCheck['filmfreeaway'];"
                            [class.bg-evento_check]="fuenteCheck['filmfreeaway']"
                            class="col fuente_button bg-evento bg-filmfreeaway">
                            <div></div>

                        </div>
                        <div (click)="fuenteCheck['shortfilmdepot']=!fuenteCheck['shortfilmdepot'];"
                            [class.bg-evento_check]="fuenteCheck['shortfilmdepot']"
                            class="col fuente_button bg-evento bg-shortfilmdepot">
                            <div></div>

                        </div>
                        <div class="col fuente_button bg-evento" disabled>
                            <div></div>
                            <span>Festival 3</span>
                        </div>
                        <div class="col fuente_button bg-evento" disabled>
                            <div></div>
                            <span>Festival 2</span>
                        </div>
                        <div class="col fuente_button bg-evento" disabled>
                            <div></div>
                            <span>Festival 1</span>
                        </div>
                        <div class="col fuente_button bg-evento" disabled>
                            <div></div>
                            <span>Festival 3</span>
                        </div>
                        <div class="col fuente_button bg-evento" disabled>
                            <div></div>
                            <span>Festival 2</span>
                        </div>
                        <div class="col fuente_button bg-evento" disabled>
                            <div></div>
                            <span>Festival 1</span>
                        </div>
                        <div class="col fuente_button bg-evento" disabled>
                            <div></div>
                            <span>Festival 1</span>
                        </div>
                    </div>
                </div>



            </form>

            <!-- INFO FILTROS DE VER Y ESTRAER SUVBENCIONES -->
            <form [formGroup]="subvencionesFrom" (ngSubmit)="verSubvencionesSubmit()" class="row"
                *ngIf="pageFilter==='verSubvenciones'">verSubvenciones</form>
        </div>

        <!-- INFO BOTONES DE ACCIONES -->
        <div id="acciones" class="col-12 d-flex flex-column">
            <span></span>

            <div id="buttons_container" class="row row-cols-2">
                <h5>Accione<span [style.color]="bgColor">s</span>:</h5>
                <div *ngIf="pageFilter==='verEventos'" [class.buttonEnable]="pageFilter==='verEventos'"><button class=""
                        (click)=" eventosSubmit('true')"><i
                            [getSvg3]="'icons/eventSearch.svg,white'"></i>Buscar</button>
                </div>
                <div *ngIf="pageFilter==='verEventos'" [class.buttonEnable]="pageFilter==='verEventos'"><button class=""
                        (click)="eventosSubmit()"><i [getSvg3]="'icons/forceSearch.svg,white'"></i>Forzar</button></div>
                <div *ngIf="pageFilter==='exEventos'" [class.buttonEnable]="pageFilter==='exEventos'"><button class=""
                        (click)="eventosSubmit('true','Extraer')"><i
                            [getSvg3]="'icons/eventExtract.svg,white'"></i>Extraer
                    </button></div>
                <div *ngIf="pageFilter==='exEventos'" [class.buttonEnable]="pageFilter==='exEventos'"><button class=""
                        (click)="eventosSubmit('false','Forzar')"><i
                            [getSvg3]="'icons/forceExtract.svg,white'"></i>Forzar
                        Extraer
                    </button></div>
                <div *ngIf="pageFilter==='exEventos'" [class.buttonEnable]="pageFilter==='exEventos'"><button class=""
                        (click)="eventosSubmit('true','Guardar')"><i [getSvg3]="'icons/saveCheck.svg,white'"></i>Guardar
                        Chekeados</button></div>
                <div *ngIf="pageFilter==='exEventos'" [class.buttonEnable]="pageFilter==='exEventos'"><button class=""
                        (click)="eventosSubmit('true','GuardarTodo')"><i
                            [getSvg3]="'icons/saveAll.svg,white'"></i>Guardar
                        Todos</button></div>
            </div>
            <div id="acciones_bottom">
                <span></span>
                <span></span>
                <span>Lacholaeventextractor v1.0.0</span>
            </div>
        </div>
        <!-- INFO BOTON DE ABRIR Y CERRAR FILTROS -->

    </div>
</div>