#filtros_s_cont {
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100%;
    max-width: 300px;
    height: calc(100vh - 60px);
    background-color: #4a4a4aeb;
    transition: linear 0.1s all;
    -webkit-transition: linear 0.1s all;
    -moz-transition: linear 0.1s all;
    -ms-transition: linear 0.1s all;
    -o-transition: linear 0.1s all;
}

#filtros_s_cont>nav {
    width: 100%;
    padding: 0px 20px;
}

#filtros_s_cont>span:nth-child(1) {
    mask-image: url(../../assets/borders/top.svg);
    height: 20px;
    mask-repeat: no-repeat;
    mask-size: contain;
    top: -2px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

#filtros_s_cont>span:nth-child(2) {
    background-image: url(../../assets/borders/principal.svg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: -1px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#filtros_s_cont>span:nth-child(4) {
    height: 4px;
    background: linear-gradient(45deg, #949494, transparent);
}

#filtros_s_cont>h2 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: var(--font2);
    color: white;
    background-color: #434343;
    height: 76px;
    margin: 0;
    padding-top: 12px;
}

#filtros_s_cont>h2>span:nth-child(2) {
    margin-left: 12px;
}

#acciones>span:nth-child(1) {
    background-image: url(../../assets/borders/bottom1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    top: -29px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 30px;
    z-index: 2;
}

#buttons_container>h5 {
    font-family: var(--font2);
    color: white;
    text-align: center;
    width: 100%;
}

#filtros_s_cont>nav>button {
    padding: 6px 15px;
    font-size: 13px;
    border: none;
    color: white;
    font-family: var(--font1);
    font-weight: 700;
    margin-top: auto;
    margin-left: 0px;
    opacity: 0.8;
}

#filtros_s_cont>nav>button:hover {
    opacity: 1;
}

#filtros_s_cont>nav>button:nth-child(1) {
    background-color: #e20303;
}

#filtros_s_cont>nav>button:nth-child(2) {
    background-color: #3c61bc;
}

#filtros_s_cont>nav>button:nth-child(3) {
    background-color: #cccccc;
}

#filtros_s_cont>nav>button:nth-child(4) {
    background-color: gray;
}

.active {
    padding: 15px 30px !important;
    opacity: 1 !important;
}

#filtros_cont {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 3px;
    overflow: hidden;
    z-index: 2;
}

#filtros_cont>h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 20px;
    cursor: pointer;
    margin: 0;
}

#filtros_cont>h2 span {
    color: white;
    font-size: 15px;
}

#filtros_cont>h2 i {
    color: white;
    font-size: 15px;
    left: 4px;
    top: 1px;
    position: relative;
}

#acciones {
    bottom: 0;
    position: relative;
    height: auto;
    background-color: #4b4b4b;
    width: 102%;
    left: -2px;
    z-index: 1;
}

@media (min-width: 1200px) {
    #acciones {
        position: absolute;
    }
}

#acciones_bottom {
    background-color: #3d3d3d;
    position: relative;
    height: 78px;
    padding-bottom: 10px;
}

#acciones_bottom>span:nth-child(1) {
    background-image: url(../../assets/PNGs/androslogo.svg);
    display: block;
    height: 50px;
    top: 10px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

#acciones_bottom>span:nth-child(2) {
    background-repeat: no-repeat;
    height: 30px;
    left: -1px;
    top: -16px;
    position: absolute;
    width: 100%;
    background-image: url(../../assets/borders/bottom2.svg);
}

#acciones_bottom>span:nth-child(3) {
    top: 3px;
    font-size: 13px;
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
    color: #9a9898;
    font-family: var(--font2);
}

#filtros_s_cont>h5 {
    text-align: center;
    padding: 4px;
    font-size: 13px;
    color: white;
    margin-bottom: 0px;
}

#filtros {
    transition: all linear 0.1s;
    height: auto;
    overflow-x: hidden;
}

#filtros>div {
    position: relative;
    min-height: 40px;
    margin-bottom: 17px;
}

#filtros div select {
    border-radius: 5px;
    height: 35px;
    width: 205px;
    margin-left: 0;
    position: relative;
    left: -9px;
    margin-bottom: 18px;
}

#filtros div input {
    height: 35px;
    margin: 0;
    border-radius: 4px;
    width: 202px;
    left: -9px;
    margin-bottom: 16px;
    position: relative;
}

#filtros form {
    padding: 10px 20px;
}

#fuentes {}

#fuentes>div {
    justify-content: center;
}

.fuente_button {
    height: 28px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 !important;
    background-color: transparent !important;
    color: white;
    font-size: 9px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;
    opacity: 0.5;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border-radius: 3px;
    overflow: hidden;
}

#filtros_cont>div:first-child {
    position: relative;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 10px;
    overflow-y: auto;
    padding: 20px 0px;
    padding-left: 25px;
    opacity: 0.8;
    cursor: pointer;
    transition: linear all 0.2s;
}

#filtros_cont>div:first-child:hover {
    opacity: 1;
}

.filtro_open {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

[disabled]>div:nth-child(2) {
    background-color: #cccccc !important;
}

#filtros div h5 {
    font-size: 13px;
    margin: 0;
    text-align: left;
}

#filtros div hr {
    margin: 6px;
    width: 181px;
    margin-bottom: 10px;
}

.hr_cont {
    align-items: center;
    justify-content: space-around !important;
    display: flex;
}

.hr_cont hr {}

.hr_cont span {
    border: solid 2px gray;
    left: -17px;
    border-radius: 5px;
    position: relative;
    height: 8px;
    top: -3px;
    width: 8px;
}

#tasa_check {
    padding: 0px 20px;
    margin-bottom: 14px;
}

#tasa_check label {
    position: relative;
    width: 175px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

#tasa_check label input {
    width: 15px;
    height: 15px;
    top: 2px;
    left: -18px;
    position: absolute;
}

#tasa_check label i {}

#tasa_check label:nth-child(1) i {
    color: grey;
}

#tasa_check label:nth-child(2) i {
    color: green;
}

#tasa_check label:nth-child(3) i {
    color: orange;
}

#buttons_container {
    margin: 0 auto;
    margin-top: 19px;
    width: 100%;
    padding-bottom: 16px;
}

#buttons_container>div>h5 {}

#buttons_container>div {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 0px;
}

#buttons_container>div>button {
    width: 90%;
    border: none;
    border-radius: 2px;
    background-color: #b6b6b6;
    font-size: 12px;
    color: white;
    height: 31px;
    padding: 3px;
    opacity: 0.8;
    filter: grayscale(1);
    cursor: not-allowed;
}

#buttons_container>div>button:hover {
    opacity: 1;
}

.buttonEnable>button {
    filter: none !important;
    -webkit-filter: none !important;
    cursor: pointer !important;
}

#buttons_container>div:nth-child(4)>button {
    background-color: green;
}

#buttons_container>div:nth-child(3)>button {
    background-color: #919191;
}

#buttons_container>div:nth-child(2)>button {
    background-color: #2b2b2b;
}

#buttons_container>div:nth-child(1)>button {
    background-color: #3c61bc;
}