ul {
    margin: 0 auto;
    justify-content: center;
}

img {
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 0 auto;
    height: 60px;
    width: 124px;
    left: 11px;
    top: -4px;
}

input {
    padding: 4px 20px;
    height: 50px;
    background-color: rgb(238, 238, 238);
    color: rgb(44, 44, 44);
    border-radius: 10px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 20px auto;
}

input::placeholder {
    color: grey;
    text-transform: capitalize;
}

header {
    color: black;
    justify-content: space-between;
    height: 60px;
    background-color: #424242;
    overflow: hidden;
    width: 100vw;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    position: fixed;
    top: 0;
    box-shadow: black 1px 1px 6px -2px;
}

header>.group>i {
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    height: 60px;
    width: 60px;
    padding: 16px;
    font-size: 29px;
    color: white;
    transition: all linear 0.1s;
}

header>.group>i:hover {
    opacity: 1;
    font-size: 31px;
}

header>.group>i header nav {
    width: 50%;
    margin: 0;
    padding: 0 !important;
}

header nav>button {
    border: none;
    cursor: pointer;
    font-size: 13px;
    color: #bcbcbc;
    background-color: transparent;
}

header nav>button:hover,
.active {
    color: white;
    background-color: grey;
}

.group {
    width: auto;
    display: flex;
}

.group1 {
    width: 25%;
    width: 25% !important;
}

.group2 {
    width: 25%;
}

header>.group>#user {
    position: relative;
    right: -10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
}

header>.group>#user>span {
    color: white;
    font-size: 12px;
    text-align: right;
}

header>.group>#user>div {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    margin: 0px 16px;
    margin-left: 7px;
}

#logOut {
    cursor: pointer;
    opacity: 0.9;
    transition: linear 0.1s all;
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    margin: auto 0;
}

#logOut i {
    color: white;
    font-size: 21px;
    transition: linear 0.1s all;
    -webkit-transition: linear 0.1s all;
    -moz-transition: linear 0.1s all;
    -ms-transition: linear 0.1s all;
    -o-transition: linear 0.1s all;
}

#logOut:hover {
    background-color: #9c2929;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

nav {
    width: 50% !important;
    justify-content: center;
    margin: 0 auto;
}

nav li {
    max-width: 120px;
    list-style: none;
    font-size: 12px;
    background-color: rgb(73, 73, 73);
    color: white;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0.9;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav li:hover {
    opacity: 1;
}

.li_selected {
    background-color: rgb(153, 61, 61) !important;
    box-shadow: black 0px 0px 1px 1px inset;
}