ul {
    margin: 0 auto;
    justify-content: center;
}

img {
    background-color: rgb(71, 70, 70);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 auto;
}

input {
    padding: 4px 20px;
    height: 50px;
    background-color: rgb(238, 238, 238);
    color: rgb(44, 44, 44);
    border-radius: 10px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 20px auto;
}

input::placeholder {
    color: grey;
    text-transform: capitalize;
}

header {
    color: black;
    justify-content: space-evenly;
    height: 300px;
    overflow: hidden;
    width: 50vw;
    margin: 0 auto;
}

nav {
    justify-content: center;
    margin: 0 auto;
}

nav li {
    max-width: 120px;
    list-style: none;
    font-size: 12px;
    background-color: rgb(73, 73, 73);
    color: white;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0.9;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav li:hover {
    opacity: 1;
}

.li_selected {
    background-color: rgb(153, 61, 61) !important;
    box-shadow: black 0px 0px 1px 1px inset;
}