<header class="container-fluid row">
    <i class="bi bi-list"></i>
    <div id="user">
        <span>Bienvenido: {{user.data.username}}</span>
        <div [style.backgroundImage]="user.data.avatar"></div>
    </div>
    <div id="logOut" (click)="logOut()" *ngIf="user.state!==false&&currentPath!=='/logIn'">
        <i class="bi bi-box-arrow-right"></i>
    </div>

    <!-- <input class="col-12" type="text" placeholder="buscar"> -->
</header>
<main>
    <app-filter *ngIf="user.state!==false&&currentPath!=='/logIn'"></app-filter>
    <router-outlet></router-outlet>
</main>
<pop-ups></pop-ups>
<div id="no_login" *ngIf="user.state===false&&currentPath!=='/logIn'">
    <h2>{{user.mensaje}}</h2>
    <button (click)="reload()">Recargar Pagina</button>
</div>