<div class="login-page">
    <div class="form">
        <form [formGroup]="logInForm" (ngSubmit)="submitLogIn()" class="login-form">
            <input type="text" (keyup)="borraMensaje()" placeholder="username" formControlName="username" />
            <div class="form__error"
                *ngIf="logInForm.controls['username'].invalid && (logInForm.controls['username'].dirty || logInForm.controls['username'].touched)">
                <div *ngIf="logInForm.controls['username'].errors?.['required']">Nombre es requerido.</div>

            </div>
            <input type="password" (keyup)="borraMensaje()" placeholder="password" formControlName="password" />
            <div class="form_error"
                *ngIf="logInForm.controls['password'].invalid && (logInForm.controls['password'].dirty || logInForm.controls['password'].touched)">
                <div *ngIf="logInForm.controls['password'].errors?.['required']">Password es requerido.</div>
                <div *ngIf="logInForm.controls['password'].errors?.['minlength']">Password debe tener al menos 4
                    caracteres.
                </div>
            </div>
            <div class="form_error">
                <div *ngIf="logInErrorMensaje!==''" [innerHTML]="logInErrorMensaje">
                </div>
            </div>
            <button type="submit" [disabled]="logInForm.invalid">Continuar</button>
            <p class="message">Log In Proporcionado Por <a href="https://www.marcotoledo.es/wp-admin"> Wordpress</a></p>
        </form>
    </div>
</div>