@import '~bootstrap-icons/font/bootstrap-icons.css';

@font-face {
    font-family: 'inter';
    src: url('assets/fonts/Inter/Inter-VariableFont_slntwght.ttf') format('woff');
    /* Puedes agregar otros formatos de fuente aquí si es necesario */
}

@font-face {
    font-family: 'protest';
    src: url('assets/fonts/Protest/ProtestGuerrilla-Regular.ttf') format('woff');
    /* Puedes agregar otros formatos de fuente aquí si es necesario */
}


/* Para Chrome, Safari y Edge */

::-webkit-scrollbar {
    width: 12px;
    /* Ancho del scrollbar */
    background-color: transparent;
    /* Fondo del scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(228, 228, 228, 0.5);
    /* Color del thumb (scroll) */
    border-radius: 6px;
    /* Borde redondeado del thumb */
}


/* Para Firefox */


/* Necesitamos usar !important para anular los estilos predeterminados de Firefox */

* {
    scrollbar-color: rgba(228, 228, 228, 0.5) transparent !important;
    /* Color del thumb y fondo del scrollbar */
}


/* Personalizamos el ancho del scrollbar para Firefox */

* {
    scrollbar-width: thin !important;
}

:root {
    --color-primary: red;
    --color-secondary: rgb(38, 38, 38);
    --color-terciary: rgb(74, 74, 74);
    --font1: 'inter';
    --font2: 'protest';
    --logo1: url('assets/PNGs/marcoslogo.png');
    --logo2: url('assets/PNGs/androslogo.svg');
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 50px;
    margin-top: 100px;
}

#no_login {
    color: grey;
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    align-content: center;
}

#no_login h2 {
    font-size: 20px;
    text-align: center;
    color: rgb(83, 83, 83);
}

#no_login button {
    border: none;
    padding: 10px;
    margin-top: 10px;
    box-shadow: black 1px 1px 1px 1px;
}

[disabled],
.disabled {
    opacity: 0.8 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.bg-evento>div:nth-child(1) {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    background-color: grey;
}

.bg-evento>div:nth-child(2) {
    position: absolute !important;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    z-index: 0;
    right: 10px;
    border-radius: 3px;
}

.bg-evento>span {
    z-index: 1;
    margin-left: 28px;
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.bg-evento {
    position: relative;
    min-width: 100px;
    height: 30px;
}

.bg-evento>div:nth-child(1) {
    background-repeat: no-repeat;
    background-position: center;
}

.bg-evento_check {
    filter: none !important;
    -webkit-filter: none !important;
    opacity: 1 !important;
}

.bg-festhome>div:nth-child(1) {
    background-image: url(assets/festivalPages/festhome_white.svg);
    background-color: #4d4d4d;
    background-position: center;
    background-size: contain;
}

.bg-movibeta>div:nth-child(1) {
    background-image: url(assets/festivalPages/Movibeta.svg);
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 1px black;
}

.bg-animationfestivals>div:nth-child(1) {
    background-image: url(assets/festivalPages/animation-festivals-logo-icon.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-color: white;
    border: solid 1px black;
}

.bg-animationfestivals>div:nth-child(1)::after {
    content: "Animation Festivals";
    height: 100%;
    position: absolute;
    color: black;
    width: 60%;
    right: 0;
    font-size: 9px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 992px) {
    .bg-animationfestivals:nth-child(3)>div:nth-child(1)::after {
        font-size: 12px;
    }
}

.bg-filmfreeaway>div:nth-child(1) {
    background-image: url(assets/festivalPages/FilmFreeway.jpg);
    background-color: #fc6064;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-shortfilmdepot>div:nth-child(1) {
    background-image: url(assets/festivalPages/shortfilmdepot.jpg);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px black;
}

div#modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #1d1d1d42;
}

div#modalPregunta {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    width: fit-content;
    height: fit-content;
    max-height: 450px;
    justify-content: start;
    border-radius: 5px;
}

div#modalPregunta>div:nth-child(1) {
    color: white;
    font-size: 86px;
    font-weight: 700;
    text-align: center;
    width: 124px;
    position: relative;
    height: 124px;
    border-radius: 64px;
    background: linear-gradient(90deg, rgba(46, 49, 146, 1) 0%, rgba(48, 65, 152, 1) 10.33%, rgba(52, 90, 161, 1) 31.05%, rgba(54, 109, 168, 1) 52.51%, rgba(56, 119, 172, 1) 74.96%, rgba(56, 123, 173, 1) 100%);
    margin: 0 auto;
    top: -30px;
}

div#modalPregunta h3 {
    width: 80%;
    text-align: center;
    font-weight: 700;
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    color: #5C5B5B;
}

#modalPregunta hr {
    width: 60%;
    margin: 13px auto;
}

#modalPregunta p {
    width: 80%;
    max-width: 330px;
    margin: 0px auto;
    text-align: justify;
    font-size: 14px;
}

#modalPregunta>div:last-child {
    bottom: 0;
    position: relative;
    width: 100%;
    padding: 10px;
    height: 70px;
    background-color: #EFEFEE;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#modalPregunta>div:last-child>button {
    width: 120px;
    background-color: white;
    margin: 0 7px;
    border-radius: 2px;
    border: solid #4285C5 3px;
    color: #4285C5;
    font-weight: 700;
    cursor: pointer;
    transition: linear 0.1s;
    transition-property: color, background-color;
    -webkit-transition: linear 0.1s;
    -moz-transition: linear 0.1s;
    -ms-transition: linear 0.1s;
    -o-transition: linear 0.1s;
}

#modalPregunta>div:last-child>button:hover {
    color: white;
    background-color: #4285C5;
}

div#popUpContainer {
    width: 100%;
    height: 100% !important;
    position: absolute;
    background-color: #00000030;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
}

div#mensajes {
    position: fixed;
    width: 300px;
    height: auto;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.mensaje {
    justify-content: start;
    height: 50px;
    position: relative;
    left: 0px;
    overflow: hidden;
    margin-top: 11px;
}

.mensaje>div {
    display: flex;
    flex-direction: row;
}

.mensaje>div:nth-child(1)>div:nth-child(1) {
    position: relative;
    width: 50px;
    height: 100%;
    background-size: 38%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    margin-right: 19px;
}

.mensajeError>div:nth-child(1)>div:nth-child(1) {
    background-color: #ED6467;
    background-image: url("assets/modales/error.svg");
}

.mensaje>div:nth-child(1)>div:nth-child(2) {
    width: 50px;
    height: 100%;
    left: 8px;
    position: absolute;
    transform: skewX(-15deg);
}

.mensajeError>div:nth-child(2) {
    background-color: #ED6467;
}

.mensaje>div:nth-child(1)>h5 {
    font-weight: 700;
    font-size: 13px;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 213px;
    overflow: hidden;
    height: fit-content;
    margin: auto 0;
    text-transform: capitalize;
}

.mensajeError>h5 {
    color: #D7494B;
}

#mensajes>div {
    left: 200px;
    position: absolute;
    transition: 0.2s linear;
    transition-property: top, bottom, margin-top, margin-bottom;
}

.mensaje>div:nth-child(1) {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: start;
    left: 292px;
}

.mensajeError>div:nth-child(1)>div:nth-child(2) {
    background-color: #ED6467;
}

.mensajeError>div:nth-child(1)>h5 {
    color: #b53133;
}

.mensaje>div:nth-child(2) {
    width: 10px;
    position: absolute;
    right: 0;
    height: 100%;
}

.mensajeError>div:nth-child(1) {
    background-color: #F7BBBD;
}

.mensajeInfo>div:nth-child(1) {
    background-color: #C4D9ED;
}

.mensajeInfo>div:nth-child(1)>div:nth-child(1) {
    background-color: #4285C5;
    background-image: url(assets/modales/info.svg);
    background-size: 22%;
}

.mensajeInfo>div:nth-child(1)>div:nth-child(2) {
    background-color: #4285C5;
}

.mensajeInfo>div:nth-child(2) {
    background-color: #4285C5;
}

.mensajeInfo>div:nth-child(1)>h5 {
    color: #1660a7;
}

.mensajeOk>div:nth-child(1) {
    background-color: #CFE7BB;
}

.mensajeOk>div:nth-child(1)>div:nth-child(1) {
    background-color: #77BB41;
    background-image: url(assets/modales/ok.svg);
    background-size: 41%;
}

.mensajeOk>div:nth-child(1)>div:nth-child(2) {
    background-color: #77BB41;
}

.mensajeOk>div:nth-child(2) {
    background-color: #77BB41;
}

.mensajeOk>div:nth-child(1)>h5 {
    color: #4b841e;
}

.mensajeWarning>div:nth-child(1) {
    background-color: #FDF9B8;
}

.mensajeWarning>div:nth-child(1)>div:nth-child(1) {
    background-color: #FED01A;
    background-image: url(assets/modales/warning.svg);
    background-size: 37%;
}

.mensajeWarning>div:nth-child(1)>div:nth-child(2) {
    background-color: #FED01A;
}

.mensajeWarning>div:nth-child(2) {
    background-color: #FED01A;
}

.mensajeWarning>div:nth-child(1)>h5 {
    color: #D6AF0D;
}


/*Factory de carga */

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.carga {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(213 213 213 / 59%);
    z-index: 1000;
}

.carga>div {
    display: block;
    position: relative;
    top: calc(50% - 25px);
    margin: 0 auto;
    width: 170px;
    height: 170px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    box-shadow: black 1px 1px 4px -2px;
}

.carga>div>div {
    border: 6px solid transparent;
    border-radius: 100%;
    border-top-color: var(--color-primary);
    border-bottom-color: var(--color-secondary);
    width: 50px;
    height: 50px;
    animation: loading 1.5s infinite linear;
}

.carga>div>h5 {
    display: block;
    position: relative;
    color: black;
    top: 11px;
    font-size: 15px;
    text-shadow: white 0px 0px 3px;
    text-align: center;
}

table {}

table tr {}

table td {}

table tr:nth-child(2n) td {}

table tr:nth-child(2n+1) td {}


/* You can add global styles to this file, and also import other style files */